@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

h1,
h2,
h3,
a {
  color: #f05146;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  font-size: 3em;
  margin: auto;
}

p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 1em 0;
}

img {
  display: block;
  margin: auto;
  border-radius: 50%;
}

.container {
  width: 100%;
}

.card {
  width: 40%;
  margin: 1em auto;
  text-align: center;
  border-radius: 0.3em;
  padding: 1em;
  box-shadow: 3px 3px 25px 6px #ccc;
}

.btn-primary {
  background-color: #f05146;
  color: #ffffff;
  display: block;
  margin: 1em auto;
  width: 200px;
  padding: 20px 20px;
  border-radius: 0.5em;
}

.btn-primary:hover {
  background-color: black;
  display: block;
  margin: 1em auto;
  width: 200px;
  padding: 20px 20px;
  border-radius: 0.5em;
  transition: 0.5s;
}

.icon:hover {
  color: black;
  transition: 1s;
}

@media (max-width: 960px) {
  /* For a screen < 720px, this CSS will be read */
  .card {
    width: 90%;
  }
}
